.mainContainer {
    size: 21cm 29.7cm;
    margin-right: 50%;
    margin-left: 350px;
    padding-bottom: 100mm;
    padding-left: 10px;
    padding-right: 20px;
    background-color: white;

    align-items: center;
    height: auto;
}

td {
    padding-right: 20px;
}

body {
    background-color: gray;
}

.occ {
    font-size: medium;
    font-weight: bold;
}

h3 {
    font-size: 20px;
}

.responsive-div {
    position: relative;
    width: 50vw;

}


.table_custom_1 td {
    display: block;
}

.table_custom_1 th,
.table_custom_1 td {
    display: table-cell;
    text-align: left;
}

.table_custom_1,
.custom_table {
    width: 100%;
}







.table_custom_1 tr td:first-child {
    padding-left: 15px;
}

.table_custom_1 tr td:last-child,
.table_custom_1 tr th:last-child {
    padding-right: 15px;
}



.table_custom_1 .btn {
    display: inline-block;
}



.table_custom_1 .table_icon:hover,
.table_custom_1 .table_icon .table_icon:focus {
    text-decoration: none;
}

.table_custom_1 .badge {
    margin-top: -3px;
    margin-left: 4px;
}

.table_custom_1 thead tr th input {
    font-size: 12px;
}

.table_custom_1 .table_custom_1 {
    border: medium none;
}

.table_custom_1 tbody tr td i.indicator {
    margin-right: 5px;
    font-size: 8px;
}

/*.....................Media Queries starts.........*/
@media (max-width: 1000px) {

    .table_custom_1 th,
    .table_custom_1 td {
        display: inherit;
    }


    .table_custom_1 {
        border: 0px;
    }

    .table_custom_1 tr {
        display: block;
        margin-bottom: 15px;
    }

    .table_custom_1 tr td {
        padding: 4px 10px !important;
    }

    .table_custom_1 tbody tr td:first-child:before {
        padding-left: 0;
        content: '';
        width: 0;
    }



    .table_custom_1.checkbox_table thead tr th:first-child {
        display: block;
        padding-left: 15px;
    }

    .table_custom_1.checkbox_table thead tr th,
    .table_custom_1 thead {
        display:flex;
    }

    .checkbox_table thead {
        display: block !important;
    }

    .mainContainer{
        margin-top: 10px;
        
        margin-left: 200px;
        margin-right: 50%;
        align-self: center;
        align-items: center;
        position: relative;
    }
}
@media (max-width: 700px) {

    .table_custom_1 th,
    .table_custom_1 td {
        display: inherit;
    }


    .table_custom_1 {
        border: 0px;
    }

    .table_custom_1 tr {
        display: block;
        margin-bottom: 15px;
    }

    .table_custom_1 tr td {
        padding: 4px 10px !important;
    }

    .table_custom_1 tbody tr td:first-child:before {
        padding-left: 0;
        content: '';
        width: 0;
    }



    .table_custom_1.checkbox_table thead tr th:first-child {
        display: block;
        padding-left: 15px;
    }

    .table_custom_1.checkbox_table thead tr th,
    .table_custom_1 thead {
        display:flex;
    }

    .checkbox_table thead {
        display: block !important;
    }

    .mainContainer{
        margin-left: 125px;
        margin-right: 50%;
        width: 50vw;
        align-self: center;
        align-items: center;
        position: relative;
    }
}



@media (max-width: 400px) {

    .table_custom_1 th,
    .table_custom_1 td {
        display: inherit;
    }


    .table_custom_1 {
        border: 0px;
    }

    .table_custom_1 tr {
        display: block;
        margin-bottom: 15px;
    }

    .table_custom_1 tr td {
        padding: 4px 10px !important;
    }

    .table_custom_1 tbody tr td:first-child:before {
        padding-left: 0;
        content: '';
        width: 0;
    }



    .table_custom_1.checkbox_table thead tr th:first-child {
        display: block;
        padding-left: 15px;
    }

    .table_custom_1.checkbox_table thead tr th,
    .table_custom_1 thead {
        display:flex;
    }

    .checkbox_table thead {
        display: block !important;
    }

    .mainContainer{
        margin: 0;
        margin-right: 0;
        width: 50vw;
        align-self: center;
        margin-left: 95px;
        margin-right: 50%;
        position: relative;
    }
}
.h {
    background-color: lightgray;
    border-left: 4px solid rgb(76, 18, 18);
    padding: 10px;
}

div.head {
    background-color: rgb(69, 17, 17);
    margin-left: -10px;
    margin-right: -20px;
    padding: 10px;

}

.bb {
    border-bottom: 1px solid lightgrey;
    text-align: left;
    padding: 50px;
}

